node_modules
redis-data
npm-debug.log
.env
influx-data
redis-data
package-lock.json
logs/*
*~
src

.dockerignore                          
.eslintrc.js                           
.nvmrc                                 
.prettierrc                            
.travis.yml                            
docker-compose.yml                     
Dockerfile                             
Dockerfile-worker                      
fluentd.conf                           
README.md                              
tsconfig.json                          
tslint.json                            
.vscode/cSpell.json                    
.vscode/settings.json   
